*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.probcontainer{
    /* border: 2px solid red; */
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.form{
    width: 700px;
}
.form div{
    width: 700px;
}

.cont{
    background-color: rgb(10, 10,10) !important
}


