*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
.homecontainer{
    display: flex ;
    flex-direction: column;
    width: 100vw;
    height: 80vh;
    align-items: center;
    justify-content: center;
}
.jumbotron{
    width: 700px;
}