*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.mainContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    width: 100vw;
}
.cardContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1500px;
    margin-top: 50px;
}